.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.autherisation_container {
    display: flex;
    flex-direction: column;
}

.authentification {
    display: flex;
    flex-direction: column;
}

.registration {
    display: flex;
    flex-direction: column;
}

.auth-modal-title {
    font-style: inherit;
    font-size: 20px;
}
.modal-dev {
    padding: 15px;
}

.modal-open {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 15px;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    &.active {
        opacity: 1; 
        pointer-events: all;
        transition: all 0.3s ease-in-out;
    }
}

.auth-modal-close{
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 40;
    top: 15px;
    right: 15px;
    fill: currentColor;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
        color: var(--acent-color);
    }
}

.modal-authent__box {
    padding: 20px;
    width: 90%;
    max-width: 1100px;
    max-height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    overflow-y: auto;

    position: absolute;

    background-color: whitesmoke;
    border: 2px solid var(--acent-color);
    box-shadow: 0px 0px 24px 13px rgba(34, 60, 80, 0.2) inset;
    transition: all 0.3s ease-in-out;

    &.active {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.5s all;
    }
}

.modal-dev__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.modal-dev__item {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(34, 60, 80, 0.2);
    margin: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.loggedInMessage {
    color: var(--base-text-color);
    font-style: inherit;
    font-size: 14px;
    display: inline-block;
    max-width: 80%;
}