.card-title{
    font-style: normal;
    color: black;
    font-weight: 500;
}
@media screen and (min-width: 320px) {
.card-poster {
    width: 280px;
    height: 402px;
}
.main-container--card {
    width: 280px;
    height: 443px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.03);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }


.card-info {
    padding-top: 10px;
}

.card-info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FF6B08;
}

.card-title {
    font-size: 12px;
    color: black;
    line-height: 14px;
}
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
.card-poster {
        width: 336px;
        height: 455px;
}
 .main-container--card__box {
     display: flex;
     flex-wrap: wrap;
     padding: 28px 32px 60px 32px;
     width: 780px;
     margin-left: auto;
     margin-right: auto;
 }

 .main-container--card__box :nth-child(2n) {
     margin-right: 0;
 }

 .main-container--card {
     width: 336px;
     height: 495px;
     margin: 32px 32px 0 0;
 }
 .card-info {
     padding-top: 8px;
 }

 .card-info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
     color: #FF6B08;
 }

 .card-title {
     font-size: 12px;
     line-height: 16px;
 }
 }
@media screen and (min-width: 1280px) {
.card-poster {
        width: 394px;
        height: 574px;
    }
.main-container--card__box {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 32px 60px 32px;
}
.card-info {
    padding-top: 12px;
}
.card-info {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF6B08;
}
.card-title {
    font-size: 20px;
    color: black;
    line-height: 24px;
}
   .main-container--card__box :nth-child(3n+3) {
       margin-right: 0;
   }

   .main-container--card {
       width: 394.3px;
       height: 634px;
       margin: 32px 16px 0 0;
   }
   }

.card-rating {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    background-color: var(--acent-color);
    color: var(--base-bg-color);
    padding: 1px 10px;
    margin-left: 10px;
    border-radius: 3px;
    text-align: center;
}