@import './base/mixin';

.header {
    // height: 216px;
    background-color: grey;
    padding-top: 40px;
    padding-bottom: 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;

  
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),url('../images/abstract-background-mob.jpg');
    @include pixel-2x{
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/abstract-background-mob@2x.jpg');
    }
  
    @include tab{
background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/abstract-background-tabl.jpg');
@include pixel-2x{
background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/abstract-background-tabl@2x.jpg');
}
    }
    @include desk{
background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/abstract-background-pc.jpg');
        @include pixel-2x{
background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/abstract-background-pc@2x.jpg');
        }
    }
    
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @include tab{
        max-width: 768px;
        
        
    }
    @include desk{
        max-width: 1280px;
        margin-bottom: 10px;
        
    }
}



.header-nav_list {
    display: flex;
}

.main-logo_text {

    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color:var(--base-bg-color);
    @media screen and(max-width:767px){
        display: none;
    }
}
.main-logo_icon{
    margin-right: 10px;
}
.header_input-wrap{
    border-bottom: 0.5px solid #FFFFFF;
    width: 280px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    @include tab{
    width: 336px;
    margin-bottom: 20px;
    }
    @include desk{
    width: 395px;
    }
                
     
}

input{
    padding-bottom: 3px;
}
.header_input{
    background-color:transparent;
    border: none;
    color: white;
    outline: none;
    @include desk{
    width: 383px;
  
    }
   
    // outline: 1px solid orange;
}
.header_input::placeholder{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.16;
           
        color: #FFFFFF;
}
.header_btn-input{
    // width: 12px;
    // height: 12px;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header_error-msg{
    text-align: center;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.16;  
        color: #FF001B;
        @media screen and(max-width:767px) {
                text-align: start;
            }
}

.header-nav_home {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;

    
    text-transform: uppercase;
    // color: #FFFFFF;
    color: var(--base-bg-color);
    margin-right: 40px;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header-nav_libr{
    font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
    
                text-transform: uppercase;
         color: var(--base-bg-color);
        padding-top: 3px;
            padding-bottom: 3px;
}
.link-current::after{
    content: "";
        display: block;
        width: 100%;
        background-color: #FF001B;
        height: 3px;
        position: absolute;
            bottom: 0;
            left: 0;
            
}

.header-nav_log{
    font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
    
        text-transform: uppercase;
        color: var(--base-bg-color);
        padding-right:0 ;

        display: block;
        margin-left:auto;
        margin-top: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
}

.is-hidden{
    display: none;
}
