.modal-dev {
    padding: 15px;
}

.modal-open {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 15px;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    &.active {
        opacity: 1; 
        pointer-events: all;
        transition: all 0.3s ease-in-out;
    }
}

.modal-close{
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 40;
    top: 15px;
    right: 15px;
    fill: currentColor;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
        color: var(--acent-color);
    }
}

.modal-dev__box {
    width: 90%;
    max-width: 1100px;
    max-height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    padding: 15px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 8px rgba(34, 60, 80, 0.4);
    transition: all 0.3s ease-in-out;

    &.active {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.5s all;
    }
}

.modal-dev__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.modal-dev__item {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: inherit;
    height: inherit;
    border-radius: 5px;
    background-color: #11111120;
    box-shadow: 0 0 8px #ffffff25;
    width: 180px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & img {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border: 2px solid var(--acent-color);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }
    &--name {
        color: black;
        height: 56px;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 5px auto;
    }
    &--role{
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }
    &--link{
        color: black;
        transition: all 0.3s ease-in-out;

        &:hover, &:focus {
            color: var(--acent-color);
        }
    }

    &:hover, &:focus {
        
        & img {
            transform: scale(1.1);
        }

        .modal-dev__item--role{
            color: var(--acent-color);
        }

        box-shadow: 0px 5px 10px 8px rgba(34, 60, 80, 0.25);
    }

    & .modal-dev__link-list {
        margin-top: 5px;
        display: flex;

        & .modal-dev__svg-link {
            width: 50px;
            height: 50px;

            fill: currentColor;
        }
    }
}