<!-- ================================ Main section START ================================ -->
<section class="main-container">
  <ul class="collection__list">
    <!-- <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li>
    <li class="main-container--card"></li> -->
  </ul>
</section>
<!-- ================================ Main section END ================================ -->
