<!-- ================================ Container START ================================ -->
<section class="main-container">
    <ul class="main-container--card__box">
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
        <li class="main-container--card"></li>
    </ul>
</section>
<!-- ================================ Container END ================================ -->