   <!-- ================================ Footer section START ================================ -->
    <footer class="footer">
      <section>
        <div class="footer__box">
          <p>© 2022 | All Rights Reserved |</p>
          <div>
            <p>Developed with</p>
            <svg class="icon-svg icon-svglike">
              <use href="/src/images/svg/symbol-defs.svg#icon-svglike"></use>
            </svg>
            <button class="footer__btn">by <span>GoIT Students</span></button>
          </div>
        </div>
      </section>
    </footer>
    <!-- ================================ Footer section END ================================ -->
