<header class="header">
    <div class="container">
        <div class="header-wrap">
            <a class="main-logo" href="/src/index.html"> <span class="main-logo_text">Filmoteka</span></a>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li><a class="header-nav_home" href="/src/index.html">Home</a></li>
                    <li><a class="header-nav_libr link-current" href="/src/library.html">my library</a></li>
                </ul>
            </nav>
        </div>
        <ul class="header_btn-wrap">
            <li class="header_btn-watched current-btn"><a href="">Watched</a></li>
            <li class="header_btn-queue simple-btn"><a href="">queue</a></li>
        </ul>
    </div>
</header>