<header class="header"> 
    <div class="container">
        <div class="header-wrap">
            <a class="main-logo" href="/src/index.html"> <span class="main-logo_text">Filmoteka</span></a>
            <nav class="header-nav">
                <ul class="header-nav_list">
                    <li><a class="header-nav_home link-current" href="/src/index.html">Home</a></li>
                    <li><a class="header-nav_libr" href="/src/library.html">my library</a></li>
                </ul>
                <div>
                    <a class="header-nav_log" href="">log in</a>
                </div>
            </nav>
        </div>
        <form class="header_input-wrap">
            <input class="header_input" type="text" placeholder="Movie search">
            <button class="header_btn-input" type="submit"></button>
        </form>
        <p class="header_error-msg">Search result not successful. Enter the correct movie name and</p>
    </div>
</header>