<!-- ================================ Modal with developers START ================================ -->
<section class="modal-dev modal-open">
  <div class="modal-dev__box">
    <svg class="modal-close">
      <use href="/src/images/svg/symbol-defs.svg#icon-svgclose_24px"></use>
    </svg>
    <ul class="modal-dev__list">
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Aleksandr.jpg" alt="#" />
        <h2 class="modal-dev__item--name">Oleksandr Vyshnyvetskyi</h2>
        <h3 class="modal-dev__item--role">Team leader</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://github.com/AleksandrVyshnyvetskyi"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.instagram.com/v.alexander21"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.linkedin.com/in/aleksander-vyshnyvetskyi-108837227/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Ilia-scram.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Ilja Keldanovics</h2>
        <h3 class="modal-dev__item--role">Scram master</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://github.com/iljakeld"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.instagram.com/iljakeld/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.linkedin.com/in/iljakeldanovics/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Alina.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Alina</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://github.com/alina-multi"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.instagram.com/alina__multi"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Ilia-bilik.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Illya Bilyk</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/images.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Julia Oraz</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Nata.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Nataliia Tatsiienko</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/vlad.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Vlad</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://worldofwarcraft.com/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Yulia-Makoviz.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Yulya Makovoz</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://github.com/YulyaMakovoz"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.instagram.com/yulya_makovoz/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.linkedin.com/in/yuliya-makovoz/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
      <!-- ================================ Developers info START ================================ -->
      <li class="modal-dev__item">
        <img src="./images/developers/Yurij.jpg" alt="#" width="200" />
        <h2 class="modal-dev__item--name">Yurii Naumchuk</h2>
        <h3 class="modal-dev__item--role">Developer</h3>
        <ul class="modal-dev__link-list">
          <li>
            <a
              class="modal-dev__item--link"
              href="https://github.com/Yurii-Naumchuk"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svggethub"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.instagram.com/yura.naumchuk/?igshid=YmMyMTA2M2Y%3D"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svginstagram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="modal-dev__item--link"
              href="https://www.linkedin.com/in/yurii-naumchuk-045a0324a/"
              target="_blank"
            >
              <svg class="modal-dev__svg-link">
                <use
                  href="/src/images/svg/symbol-defs.svg#icon-svglinkedin"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================ Developers info END ================================ -->
    </ul>
  </div>
</section>
<!-- ================================ Modal with developers END ================================ -->
