<section class="section">
  <div class="container">
    <div class="pagination">
      <a class="pagination__btn pagination__btn--prev disabled" href="http://">
        <svg class="pagination__icon">
          <use href="./images/svg/arrow.svg#icon-arrow"></use>
        </svg>
      </a>
      <ul class="pagination__list">
        <li class="pagination__item">
          <a class="pagination__link" href="http://">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link active" href="http://">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="http://">3</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="http://">4</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link disabled js_threeDots" href="http://"
            >...</a
          >
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="http://">10</a>
        </li>
      </ul>
      <a class="pagination__btn pagination__btn--next" href="http://">
        <svg class="pagination__icon pagination__icon--right">
          <use href="./images/svg/arrow.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
