<section class="section" id="section__pagination">
  <div class="container">
    <div class="pagination">
      <button
        class="pagination__btn pagination__btn--prev"
        type="button"
        name="prev"
      >
        <svg class="pagination__icon">
          <use href="./images/svg/arrow.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="pagination__list"></div>
      <button
        class="pagination__btn pagination__btn--next"
        type="button"
        name="next"
      >
        <svg class="pagination__icon pagination__icon--right">
          <use href="./images/svg/arrow.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
